/* -------- General -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat";
}

body {
  background-color: #363f4c;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

.container-about {
  width: 95%;
  max-width: 40em;
  margin: 0 auto;
}

#portfolio h2,
#contact h2 {
  color: #5f7087;
  font-size: 3rem;
  margin: 0.8em 0;
}

/* -------- START Intro Section -------- */
#intro {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40em;
  width: 100%;
}
#intro:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(54, 63, 76, 0.3) -10%, #363f4c 90%);
}
#intro .intro-title {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
#intro .intro-title h1 {
  color: #363f4c;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 1.5;
}
#intro .intro-title h1 .title-wrap {
  display: block;
}
#intro .intro-title h1 .title-wrap .title-up,
#intro .intro-title h1 .title-wrap .title-down {
  background-color: #fbfcff;
  padding: 0.04em 0.2em;
}

/* -------- END Intro Section -------- */
/* -------- BEGIN About Section -------- */
#about {
  position: relative;
}
#about .about-box {
  position: relative;
  margin-bottom: 17em;
}
#about .about-box h2 {
  position: absolute;
  color: #ef233c;
  font-size: 3.6rem;
  top: 5%;
  left: 25%;
}
#about .about-box h2 span {
  display: block;
}
#about .about-box img {
  width: 13em;
}
#about .about-box a {
  color: #5f7087;
  font-weight: 700;
  letter-spacing: 0.05rem;
  transition: all ease-in-out 250ms;
}
#about .about-box a:hover {
  color: #657c9b;
}
#about .about-box .about-text-box {
  color: #fbfcff;
  position: absolute;
  right: 1%;
  bottom: -11em;
  width: 60%;
  line-height: 1.7;
}
#about .about-box .about-text-box p:first-of-type {
  margin-bottom: 2em;
}

/* -------- END About Section -------- */
/* -------- BEGIN Portfolio Section -------- */
#portfolio {
  margin-bottom: 5em;
}
#portfolio .portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
}
#portfolio .container {
  border-top: 1px solid #fbfcff;
}
#portfolio img {
  width: 100%;
}
#portfolio .portfolio-item {
  position: relative;
}
#portfolio .portfolio-item .portfolio-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fbfcff;
  text-align: center;
  padding: 1em 0 1.4em 0;
  opacity: 0.9;
}
#portfolio .portfolio-item .portfolio-description p {
  font-size: 1.2rem;
  margin-bottom: 1em;
  color: #242a33;
  font-weight: normal;
}
#portfolio .portfolio-item .portfolio-description .portfolio-button {
  border: 1px solid #242a33;
  font-size: 0.89rem;
  padding: 0.3em 1.6em;
  color: #242a33;
  transition: all ease-in-out 250ms;
}
#portfolio .portfolio-item .portfolio-description .portfolio-button:hover {
  color: #657c9b;
  border-color: #657c9b;
}

/* -------- END Portfolio Section -------- */
/* -------- START Contact Section -------- */
#contact {
  text-align: center;
  color: #fbfcff;
  margin-bottom: 3.5em;
}
#contact .contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}
#contact .container {
  border-top: 1px solid #fbfcff;
}
#contact h2 {
  text-align: left;
}
#contact p,
#contact a {
  color: #fbfcff;
  font-size: 1.3rem;
}
#contact img {
  margin-bottom: 2em;
}

/* -------- END Contact Section -------- */
/* -------- START RESPONSIVE -------- */
@media (max-width: 800px) {
  #intro {
    height: 100vh;
  }

  #portfolio .portfolio-grid {
    grid-template-columns: 1fr;
  }
  #portfolio .portfolio-item {
    margin-bottom: 2em;
  }

  #contact .contact-grid {
    grid-template-columns: 1fr;
  }
  #contact .contact-item {
    margin-bottom: 4em;
  }
  #contact .contact-item p,
#contact .contact-item a {
    display: block;
    letter-spacing: 0.1em;
  }
}
@media (max-width: 600px) {
  #intro .intro-title h1 {
    font-size: 2.4rem;
  }

  #about .about-box {
    margin-bottom: 3em;
  }
  #about .about-box h2 {
    font-size: 2.5rem;
    top: 30%;
  }
  #about .about-box .about-text-box {
    margin-top: 2em;
    position: relative;
    bottom: unset;
    width: 100%;
  }
  #about .about-box .about-text-box p:first-of-type {
    margin-bottom: 0;
  }
  #about .about-box .about-text-box p {
    padding: 1em;
  }

  #portfolio {
    margin-bottom: 3em;
  }
  #portfolio h2 {
    font-size: 2.3rem;
  }
  #portfolio .portfolio-description {
    padding: 1em 0 !important;
  }
  #portfolio .portfolio-description p {
    margin-bottom: 1.1em !important;
  }

  #contact {
    margin-bottom: 3em;
  }
  #contact h2 {
    font-size: 2.3rem;
  }
  #contact img {
    width: 44%;
  }
  #contact p,
#contact a {
    font-size: 1rem;
  }
}
@media (max-width: 330px) {
  #intro .intro-title h1 {
    font-size: 1.5rem;
  }

  #about .about-box h2 {
    font-size: 2.2rem;
    top: 27%;
  }
  #about .about-box img {
    width: 12em;
  }

  #portfolio .portfolio-item .portfolio-description p {
    font-size: 1rem;
  }

  #portfolio .portfolio-item .portfolio-description .portfolio-button {
    font-size: 0.8rem;
  }

  #portfolio h2,
#contact h2 {
    font-size: 2rem;
  }
}
/* -------- END RESPONSIVE -------- */

/*# sourceMappingURL=style.css.map */
